html, body, #map {
    height: 100%;
}
body {
    margin: 0px;
    background: #CCCCCC;
    font-family: Ubuntu, sans-serif;
}

#template_marker {
    display: none;
}

#template_addpoint {
    display: none;
}

h1 {
    font-size: 4em;
}

#info {
    position: absolute;
    float: right;
    bottom: 18px;
    right: 0px;
    padding: 0px;
    box-shadow: 0 0 7px #CCCCCC;
    color: #5E5E5E;
    z-index: 10;
    text-align: center;
    background: rgba(255,255,255,0.8);
}
#info h1, #info p {
    margin: 0px;
}
#info p {
    margin-bottom: 10px;
}

#info #users {
    display: inline-block;
}

#info #users span.number {
    background: url(/static/users.png) no-repeat;
    padding-left: 20px;
    margin-bottom: 20px;
}

#info #me {
    display: inline-block;
    background-color: rgba(255,255,255,0.6);
    padding-left: 5px;
    padding-right: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#info h2 {
    color:  #aaaaaa;
    font-size: 1em;
    margin: 2px;
}

#info #share {
    padding: 5px;
    margin-top: 5px;
    border-top: 2px solid white;
    clear: left;
    text-align: left;
}

#info #share label {
    display: inline-block;
    width: 16px;
}

#info #share a#download {
    font-size: 0.9em;
    padding-left: 20px;
    background:url(/static/download.png) no-repeat;
    color: #5E5E5E;
}

#go {
    width: 100%;
    text-align: center;
    text-shadow: 0 0 8px #656565;
}

#go input[type="submit"] {
    padding: 0;
    border: 0;
    color: transparent;
    background:url(/static/go.png) no-repeat;
    width: 38px;
    height: 38px;
}

.leaflet-popup-content {
    text-align: center;
}

.leaflet-popup-content .marker-data {
    display: block;
}

.leaflet-popup-content span[class^="class"] {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.leaflet-popup-content .class1 { background-color: red; }
.leaflet-popup-content .class2 { background-color: orange; }
.leaflet-popup-content .class3 { background-color: yellow; }
.leaflet-popup-content .class4 { background-color: green; }
.leaflet-popup-content .class5 { background-color: blue; }
.leaflet-popup-content .class6 { background-color: pink; }
.leaflet-popup-content .class7 { background-color: purple; }

.leaflet-popup-content textarea {
    width: 250px;
    height: 150px;
}

.leaflet-popup-content span {
    display: inline-block;
}

.leaflet-popup-content .timestamp {
    color: #7D7D7D;
    font-size: 11px;
    display: inline;
}

.leaflet-popup-content a {
    background: url(/static/trash.png) no-repeat;
    color: transparent;
    width: 16px;
    display: inline;
}
