<!DOCTYPE html>
<html>
    <head>
        <title>Map {{ map_id }}</title>
        <script src="http://js.pusherapp.com/1.9/pusher.min.js" type="text/javascript"></script>
        <script src="http://leaflet.cloudmade.com/dist/leaflet.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script src="http://mustache.github.com/extras/mustache.js"></script>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
        <link rel="stylesheet" href="http://leaflet.cloudmade.com/dist/leaflet.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="http://leaflet.cloudmade.com/dist/leaflet.ie.css" /><![endif]-->
        <link rel="stylesheet" href="static/style.css" />
        <script type="text/javascript">
            var embed = false,
                map_id = '{{ map_id }}',
                urljson = '{{ url_for("points", map_id=map_id) }}',
                urltiles = '{{ config.TILES_URL }}';
            
            {% if embed %}
                embed = true;
            {% else %}
                var pusher = new Pusher('{{ config.PUSHER_KEY }}'),
                    urladd = '{{ url_for("add_point", map_id=map_id) }}',
                    urldel = '{{ url_for("del_point", map_id=map_id) }}',
                    urlmove = '{{ url_for("move_point", map_id=map_id) }}',
                    data_maxsize = {{ config.DATA_MAX_SIZE }};
                {% if config.DEBUG %}
                Pusher.log = function(message) {
                    if (window.console && window.console.log) window.console.log(message);
                };
                {% endif %}
            {% endif %}
        </script>
        <script src="static/map.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="map"></div>
        {% if embed %}
        <!-- Mustache template -->
        {% raw %}
        <div id="template_marker">
            {{{data}}}
            {{#timestamp}}
            <div class="timestamp">{{timestamp}}</div>
            {{/timestamp}}
        </div>
        {% endraw %}
        {% else %}
        <div id="info">
            <h1>{{ map_id }}</h1>
            <p>Single clic to add points.</p>
            <div id="users">
                <h2>Users</h2>
                <span class="number">?</span>
            </div>
            <div id="me">
                <h2>My position</h2>
                <input id="followme" type="checkbox"/>
                <label for="followme">Follow</label>
                <input id="shareme" type="checkbox"/>
                <label for="shareme">Share</label>
            </div>
            <div id="share">
                <label for="permalink"><img src="static/link.png"></label>
                <input id="permalink" type="text" value="{{ request.base_url }}"><br/>
                <label for="embed">&lt;&gt;</label>
                <input id="embed" type="text" value="&lt;iframe width=&quot;425&quot; height=&quot;350&quot; frameborder=&quot;0&quot; scrolling=&quot;no&quot; marginheight=&quot;0&quot; marginwidth=&quot;0&quot; src=&quot;{{ request.base_url }}?embed=true&quot;&gt;&lt;/iframe&gt;">
            </div>
        </div>
        <!-- Mustache templates -->
        {% raw %}
        <div id="template_marker">
            {{{data}}}
            <a id="delete-{{_id}}" href="#" onclick="return deletePoint('{{_id}}');">delete</a>
            {{#timestamp}}
            <div class="timestamp">{{timestamp}}</div>
            {{/timestamp}}
        </div>
        <div id="template_addpoint">
            <p>Add a point at ({{lat}}, {{lon}}) ?</p>
            <form id="addpoint" onsubmit="return addPoint(this);"> 
                <span class="class1"><input type="radio" name="classid" value="1"/></span> 
                <span class="class2"><input type="radio" name="classid" value="2"/></span> 
                <span class="class3"><input type="radio" name="classid" value="3"/></span> 
                <span class="class4"><input type="radio" name="classid" value="4"/></span> 
                <span class="class5"><input type="radio" name="classid" value="5" checked="checked"/></span> 
                <span class="class6"><input type="radio" name="classid" value="6"/></span> 
                <span class="class7"><input type="radio" name="classid" value="7"/></span> 
                <textarea name="data" maxlength="{{data_maxsize}}"></textarea><br/> 
                <input type="hidden" name="coords" value="{{lon}},{{lat}}"/> 
                <input type="submit" value="Ok"/> 
            </form>
        </div>
        {% endraw %}
        {% endif %}
    </body>
</html>
